<article class="unit-article layout-page">
	<div class="unit-inner unit-article-inner">
		<div class="content">
            <div class="unit-head">
                <div class="unit-inner unit-head-inner">
                    <center><h1 class="h2 entry-title"><font color="2066FF">{{ page.title }}</font></h1></center>
                </div><!-- unit-inner -->
            </div><!-- unit-head -->

			<div class="bd">
				<div class="entry-content">
					{{ content }}
				</div><!-- entry-content -->
			</div><!-- bd -->

			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<p class="gotop">
						<a href="#page">Back to Top</a>
					</p>
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
